@font-face {
    font-family: "Roboto";
    src: url(./Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(./Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Italic";
    src: url(./Roboto/Roboto-Italic.ttf);
}

body {
    font-family: "Roboto";
    color: #eee;
    display:flex;
    flex-direction: column;
    margin: 0;
}

section {
    padding: 2em 15em 2em 15em;
    margin: 0;
    display:flex;
}

a{
    text-decoration: none;
    color: #919191;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header,
section.first,
footer {
    background-color: #1F2937;
    margin: 0;
}

header{
    display: flex;
    padding: 1em 15em 2em 15em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.logo{
    margin: 0;
    font: "Roboto Bold";
    font-size: 25px;
    font-weight: bold;
}

ul.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

main{
    
}

section.first {
    flex: 0 1 auto;
    height: 40%;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    padding-bottom: 75px;
}

section.first > .right {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 50%;
}

section.first > .right > h1{
    display: flex;
    margin: 0;
    flex: 0 1 auto;
    width: 35%;
    font: "Roboto Bold";
    font-size: 40px;
    font-weight: bold;
}

section.first > .right > p {
    display: flex;
    color: #919191;
    font-size: 20px;
}

section.first > .right > button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 15px 32px;
    height: 50px;
    width: 125px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

section.first > .left > img{
    height: 250px;
    width: 550px;
}

section.second{
    flex-direction: column;
    flex: 1 1 auto;
    margin-bottom: 100px;
}

section.second > .title.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.second > .title.container > h2 {
    color: #000000;
    font: "Roboto Bold";
    font-weight: bold;
    font-size: 36px;
    margin: 0 0 1em 0;
}

section.second > .boxes.container {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
}

section.second > .boxes.container > .box {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.second > .boxes.container > .box > .sub-box {
    display: flex;
    height: 200px;
    width: 200px;
    flex: 0 1 auto;
    flex-direction: row;
    border-width: 4px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 5px;
} 

section.second > .boxes.container > .box > .sub-box > img {
    height: 200px;
    width: 200px;
    display: flex;
    flex: 0 1 auto;
}

section.second > .boxes.container > .box > p {
    width: 200px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    color: #181717;
    text-align: center;
}

section.third {
    background-color: #b8b8b8;
    display:flex;
    flex-direction: column;
}